{% from "_formhelpers.html" import render_field %}
{% from "_errores.html" import render_errors %}
{% extends "layout.html" %}
{% block content %}

<div class="content w-50 mx-auto">
{% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% endif %}

{% if success %}
  <div class="alert alert-success" role="alert">
    {{ success }}
  </div>
{% endif %}

<form method=post   enctype="multipart/form-data">
  {{ form.id(class_="d-none")}}
  {{ render_field(form.nickname) }}
  {{ render_errors(form.nickname) }}

  {{ render_field(form.nombre) }}
  {{ render_errors(form.nombre) }}


  {{ render_field(form.correo) }}
  {{ render_errors(form.correo) }}

  {{ render_field(form.nEmpleado) }}
  {{ render_errors(form.nEmpleado) }}

  {{ render_field(form.telefono) }}
  {{ render_errors(form.telefono) }}

  {{ form.activo }}
  {{ form.activo.label }}
  <br>

  {{ render_field(form.video) }}
  {{ render_errors(form.video) }}

  <input type="submit" class="btn btn-primary" value=Register>
</form>
<a class="position-absolute bottom-0 end-0 btn btn-danger"> Limpiar</a>
</div>

<div class="content w-75 mx-auto">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Correo</th>
        <th scope="col">Número de Empleado</th>
        <th scope="col">Telefono</th>
        <th scope="col">Activo</th>
        <th scope="col">Imagen De Muestra</th>
        <th scope="col">Imagen Escala de Grises</th>
      </tr>
    </thead>
    <tbody>
    {% for field in empleado %}

      <th>{{field.id}}
        <a href="/reg/update?id={{field.id}}">Editar</a>
      </th>
      <td>{{field.nickname}}</td>
      <td>{{field.nombre}}</td>
      <td>{{field.correo}}</td>
      <td>{{field.nempleado}}</td>
      <td>{{field.telefono}}</td>
      <td>{{field.activo}}</td>
      <td>
        <img src="{{url_for('static', filename='/'+field.nickname+'/muestra_'+field.nickname+'.jpg')}}"
        style="max-height: 140px;"
        class="img-thumbnail"
        />
      </td>

      <td>
        <img src="{{url_for('static', filename='/'+field.nickname+'/'+field.nickname+'.jpg')}}"
        style="max-height: 100px;"
        class="img-thumbnail"
        /></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}